@model IEnumerable<MyCalendar.Models.Event>
@{
    //var monthName = MyCalendar.Models.Month.Names[int.Parse(ViewBag.Month.ToString()) - 1] + " " + ViewBag.Year.ToString();
    ViewBag.Title = "Daily";
    DateTime currentDate = (DateTime)ViewBag.CurrentDate;
    DateTime month = DateTime.Parse(currentDate.Month.ToString() + "/1/" + currentDate.Year.ToString());
    DateTime previousDay = currentDate.AddDays(-1);
    DateTime nextDay = currentDate.AddMonths(1);
}
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="~/Content/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<div class="container-fluid">
    <input type="button" value="Today" onclick="window.location.href = '/Calendar/Day/'" />
</div>

<div class="container-fluid">
    <div class="row" style="vertical-align:bottom">
        <div class="col-4" style="text-align:left;color:#999;font-variant:small-caps;vertical-align:bottom"><h4 id="prevMonth">&lt;&lt;Previous</h4></div>
        <div class="col-4" style="text-align:center;font-variant:small-caps;vertical-align:bottom"><h2>Daily View</h2></div>
        <div class="col-4" style="text-align:right;color:#999;font-variant:small-caps;vertical-align:bottom"><h4 id="nextMonth">Next&gt;&gt;</h4></div>
    </div>
</div>
@{
    DateTime calendarStart;
    // find the previous sunday
    if ((int)currentDate.DayOfWeek == 0)
    {
        calendarStart = currentDate;
    }
    else
    {
        calendarStart = currentDate.AddDays(-1);
        while ((int)calendarStart.DayOfWeek != 0)
        {
            calendarStart = calendarStart.AddDays(-1);
        }
    }

    DayOfWeek day = currentDate.DayOfWeek;
    var dateCount = 0;
    DateTime currentDateCount;// DateTime.Parse(ViewBag.Month.ToString() + "/1/" + ViewBag.Year.ToString());
    var m = (List<MyCalendar.Models.Event>)Model;
    bool lastDayPassed = false;
}
<div class="container-fluid">
    <div class="row">
        <div class="col dayOfWeek center left">Sunday</div>
        <div class="col dayOfWeek center right">Monday</div>
        <div class="col dayOfWeek center right">Tuesday</div>
        <div class="col dayOfWeek center right">Wednesday</div>
        <div class="col dayOfWeek center right">Thursday</div>
        <div class="col dayOfWeek center right">Friday</div>
        <div class="col dayOfWeek center right">Saturday</div>
    </div>
    @{
        var currentStyle = "left-bottom";
        var currentStyleBlank = "blank-right";
        var numberStyle = "";
        List<MyCalendar.Models.Event> events = new List<MyCalendar.Models.Event>();
        currentDateCount = calendarStart;
        DateTime lastDay = calendarStart.AddDays(6);
        bool firstPass = true;
    }
    @for (int i = 0; i < 6; i++)
    {
        if (!lastDayPassed)
        {
            @Html.Raw(@"<div class=""row"">")
            for (int j = 0; j < 7; j++)
            {
                if (!firstPass)
                { currentDateCount = currentDateCount.AddDays(1); }
                firstPass = false;
                dateCount++;

                if (j == 0)
                {
                    currentStyle = "left-bottom";
                    numberStyle = "left-number";
                }
                else
                {
                    currentStyle = "right-bottom";
                    numberStyle = "number";
                }
                currentStyleBlank = "blank-right";

                if ((dateCount != 0) && (currentDateCount <= lastDay))
                {
                    events = m.Where(x => x.Start.ToShortDateString() == currentDateCount.ToShortDateString()).ToList<MyCalendar.Models.Event>();
                }

                if (currentDateCount >= lastDay)
                {
                    lastDayPassed = true;
                }
                if (currentDateCount.ToShortDateString() == DateTime.Now.ToShortDateString())
                {
                    currentStyle += " currentDay";
                    currentStyleBlank += " currentDay";
                    numberStyle += " currentDay";
                }
                else if (currentDateCount.Month != month.Month)
                {
                    currentStyle += " other-month";
                    currentStyleBlank += " other-month";
                    numberStyle += " other-month";
                }
                else
                {
                    currentStyle = currentStyle.Replace(" other-month", "");
                    currentStyleBlank = currentStyleBlank.Replace(" other-month", "");
                    numberStyle = numberStyle.Replace(" other-month", "");
                }

                <div class="col">
                    <div class="row">
                        <div class="col-3 cal @numberStyle" style="text-align:right;font-size:0.8em;font-weight:bold">@currentDateCount.Day.ToString()</div>
                        <div class="col-9 cal @currentStyleBlank"></div>
                    </div>
                    <div class="row" style="min-height:200px">
                        <div class="col-12 cal @currentStyle" id="@currentDateCount.Month.ToString()-@currentDateCount.Day.ToString()" data-date="@currentDateCount.ToShortDateString()" style="text-align:center">
                            @foreach (var e in events)
                            {
                                <a href="#" class="badge event" style="background-color:blue;color:white" data-date="@e.Name@e.Start.ToShortDateString()">@e.Name</a><br />
                            }
                        </div>
                    </div>
                </div>
            }
            @Html.Raw(@"</div>")
        }
    }
</div>
<script>
    $(document).ready(function () {
        $("#prevMonth").click(function () {
            window.location.href = "/Calendar/Week/?week=@calendarStart.AddDays(-7).ToShortDateString()";
        }).mouseover(function () {
            $(this).css('cursor', 'pointer')
        });

        $("#nextMonth").click(function () {
            window.location.href = "/Calendar/Week/?week=@calendarStart.AddDays(7).ToShortDateString()";
        }).mouseover(function () {
            $(this).css('cursor', 'pointer')
            });
        $('.cal,.event').each(function () {
            $(this).click(function () {
                alert($(this).data("date"));
            });
        });
    });
</script>
